
<div class="content-wrapper">
	<div class="item-wrapper">
		<form class="form" (submit)="searchByName(searchText)">
			<label for="search"></label>
			<mat-icon fontIcon="search" class="mat-icon"></mat-icon>
			<input class="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" id="search" type="text" placeholder="Поиск">
		</form>
	</div>
	@if (taskList.length !== 0) {
		<div class="item-wrapper">
			@if (activeTab === routeConstants.SEARCH) {
				<span>Поиск по тегам</span>
			} @else {
				<span>{{text}}</span>
			}
		</div>
		<div class="task-wrapper" cdkDropList (cdkDropListDropped)="drop($event)">
		@for (task of shownTaskList; track task){
				<app-task-item
					cdkDrag
					(update)="updateStatus(task, $event)"
					[task]="task"
					[searchText]="searchText"
					[class]="text==='Важные задачи' ? '' : 'important-task'">
				</app-task-item>
			}
		</div>
		@if (taskList.length > 5) {
			<div class="item-wrapper btn-wrapper">
				<button (click)="previousTasks()"><</button>
				<button (click)="nextTasks()">></button>
			</div>
		}
	} @else {
		<span class="empty">
			Нет задач для отобраеняи
		</span>
	}
</div>