<div class="task-wrapper">
	@if (!deleted) {
		<input type="checkbox" [(ngModel)]="checked" (click)="toggleFinishTask()">
	} @else {
		<span></span>
	}
	<span class="task-name" [ngClass]="task.isImportant ? class : ''">
		{{task.name}}
	</span>
	<span class="tags">
		@for (tag of task.tags; track tag) {
			<span [ngClass]="tag.class" class="tag-item">{{tag.text}}</span>
		}
	</span>
	<span>{{task.deadlineTime | date:'YYYY.MM.dd в HH:mm'}}</span>
	<span>
		@if (deleted) {
			<mat-icon (click)="restoreTask()" title="восстановить" class="delete mat-icon" fontIcon="refresh"></mat-icon>
		}@else {
			<mat-icon (click)="onDeleteTask({
				question: 'Вы уверены?',
				description: 'Вы не сможете восстановить это',
				actionOK: 'Да, удалить',
				actionCancel: 'Отмена',
				titleIcon: 'info',
			})" title="удалить" class="delete mat-icon" fontIcon="delete"></mat-icon>
		}
	</span>
	<span>
		<mat-icon cdkDragHandle class="drag mat-icon" fontIcon="drag_indicator"></mat-icon>
	</span>
</div>

