.content-wrapper {
	border-radius: 8px;
	display: flex;
	/* opacity: 1; */
	/* filter: brightness(); */
}
.side-bar {
	border: 1px solid #687697;
	border-radius: 8px 0 0 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-right: 1px solid #687697;
	padding: 20px;
}
.tab-group {
	display: flex;
	flex-direction: column;
	color: #D0D2D6;
	gap: 20px;
	
	& .tab-item {
		position: relative;
	}
	& .tab-text {
		padding-left: 30px;
	}
	& .activeTab {
		color: #9B51E0;
	}
}
.my-button {
	background-color: #7367F0;
	color: #FFFFFF;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #3B4253;
	cursor: pointer;
}
.mat-icon {
	transform: scale(0.6);
	/* position: absolute; */
	bottom: 0;
}
.tags {
	display: flex;
	flex-direction: column;

	& .tag {
		position: relative;
		display: flex;
		place-items: center;
		padding: 10px;
		margin: 6px;
		border-radius: 4px;
	}
	& :nth-child(2) {
		color: #7367F0;
	}
	& :nth-child(3) {
		color: #28C76F;
	}
	& :nth-child(4) {
		color: #FF9F43;
	}
	& :nth-child(5) {
		color: #EA5455;
	}
	& .tag-text {
		padding-left: 30px;
		color: #D0D2D6;
	}
}
a {
	cursor: pointer;
}
.active {
	border: 1px solid #9B51E0;
}