<mat-sidenav #sideItem class="sidenav-wrapper" position="end" opened="false" mode="side" fixedInViewport fixedTopGap="56">
	<div class="sidenav">
		<section class="sidenav-header">
			<span>Задачи</span>
			<span>
				<mat-icon class="mat-icon" fontIcon="star"></mat-icon>
				<button mat-button (click)="onClose()">
					<mat-icon class="mat-icon" fontIcon="close"></mat-icon>
				</button>
			</span>
		</section>
		<div class="task-info">
			<section class="task-description">
				<form [formGroup]="newTask" class="form" (submit)="postNewTask()">
					<div class="input-wrapper">
						<label for="name">Название</label>
						<input id="name" formControlName="name" placeholder="Название задачи" required type="text">
					</div>
					<div class="input-wrapper">
						<label for="deadline">Дата завершения задачи</label>
						<input 
							id="deadline"
							formControlName="deadline"
							onfocus="(this.type='date', this.color='#E0E0E0')"
      				onblur="(this.type='text')"
							placeholder="дата звершения задачи" 
						>
					</div>
					<div>
						<input for="status" formControlName="status" type="checkbox">
						<label id="status">Важная задачи</label>
					</div>
					<div class="input-wrapper">
						<label for="time">Дата и вермя завершения задачи</label>
						<input 
							id="time"
							#time
							onfocus="(this.type='datetime-local', this.color='#E0E0E0')"
      				onblur="(this.type='text', this.value=this.value.replace('T', ' в '))"
							formControlName="deadlineTime" 
							placeholder="дата и время когда планируете закончить" 
						>
					</div>
					<div class="input-wrapper">
						<label for="description">Описание задачи</label>
						<textarea id="description" placeholder="описание задачи" formControlName="description"></textarea>
					</div>
					<div>Тэги</div>
					<div class="checkbox-wrapper">
						<div>
							<input for="productivity" formControlName="productivity" type="checkbox">
							<label id="productivity">Продуктивность</label>
						</div>
						<div>
							<input for="health" formControlName="health" type="checkbox">
							<label name="health">Здоровье</label>
						</div>
						<div>
							<input for="education" formControlName="education" type="checkbox">
							<label name="education">Образование</label>
						</div>
						<div>
							<input for="urgent" formControlName="urgent" type="checkbox">
							<label id="urgent">Срочно</label>
						</div>
					</div>
					<div class="actions">
						<button class="button add-task" type="submit">Добавить</button>
						<button class="button delete-task" (click)="onClose()">Удалить</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</mat-sidenav>