.sidenav-header {
	background-color: #161D31;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
}
.task-info {
	margin: 20px;
}
.sidenav-wrapper {
	z-index: 100;
}
.sidenav {
	position: absolute;
	right: 0;
	top: 0;
	width: 30vw;
	height: 100vh;
	background-color: #3B4253;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
button {
	background: none;
	border: 0;
	color: #B4B7BD;
}
.actions {
	display: flex;
	gap: 30px;
}
.button {
	border-radius: 5px;
	padding: 10px, 23px;
	height: 40px;
	width: 120px;
	cursor: pointer;
	&.add-task {
		background-color: #7367F0;
		color: #fff;
	}
	&.delete-task {
		background-color: #283046;
		color: #7367F0;
		box-shadow: 0px 14px 28px 0px #00000033;
	}
}
.input-wrapper {
	display: flex;
	flex-direction: column;
}
.checkbox-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
textarea {
	height: 4rem;
}
textarea, input {
	background-color: #3B4253;
	border: 1px #687697 solid;
	padding: 7px 14px;
	border-radius: 5px;
	color:#E0E0E0;
	resize: none;

	&::-webkit-input-placeholder {
		color: #676D7D;
	}
	&::-moz-placeholder {
		color: #676D7D;
	}
}
.text-danger {
	color: red;
	font-size: small;
}