/* You can add global styles to this file, and also import other style files */

html, body { 
	height: 100%; 
	width: 100%;
}
body {
	margin: 96px 100px; 
	background-color: #13192A; 
	font-family: "Montserrat","Roboto", "Helvetica Neue", "sans-serif";
	color: #D0D2D6;
}
.content-wrapper {
	padding: 20px ;
	background-color: #3B4253;
}